@font-face {
    font-family: 'Raleway';
    src: url(Raleway-VariableFont_wght.ttf)
}
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    src: url(Raleway-Italic-VariableFont_wght.ttf)
}
@font-face {
    font-family: 'eleventh hour';
    src: url("../misc/eleventh hour.ttf");
}
/* Color Variables */
:root {
    --backgroundBase:  #0c0c0e;
    --backgroundSecondary: #1c1c1e;
    --backgroundTertiary:  #2c2c2e;
    --backgroundQuaternary: #39393a;

    --textColor: white;
    --textColorSecondary: black;

    --frameColor: #b60000;
    --buttonColor: #cf0000;
    --buttonBorder: white;
    --hintColor: lightgrey;

    --linkColor: #74fdff;
    --linkColorVisited: #979eff;
    --linkColorFaint: #c3ffff;
    --linkColorVisitedFaint: #d2d6ff;

    --shadowSecondary: #18181a;
    --shadowSecondarySecondary: #202023;

    --scrollbarPrimary: #660000;
    --scrollbarSecondary: #242426;

    --greyedOutText: grey;
    --greyedOutBackground: darkgrey;
    --greyedOutBorder: black;

    --textColorBlack: black;
    --linkColorBlack: navy;
    --linkColorBlackVisited: purple;

/* Character-Specific Colors */
    --percyTeal: #6dac98;
    --percyTealLight: #a6e9d4;
    --gmPurple: #5f3d9c;
    --gmBlue: #245db8;
    --chromaGreen: #02d12b;
    --sedgeBlue: #5aa9ce;
    --sedgeGreen: #acd97b;
    --errataCyan: #9ffdf8;
    --damascusRed: #a2011c;
    --periscopePurple: #803f82;
    --perimaPink: #f88dff;
    --twoTeal: #6c93b7;
    --twoPurple: #211838;
    --yvikRed: #a32626;
    --sierraBlue: #8da9cc;
    --alvarusGreen: #a8b758;
}

/* Basic Layout */

.flex {
    display: flex;
}
.columns {
    flex-direction: column;
}
aside {
    flex: 15%;
}
.centeredText {
    text-align: center;
}
.verticalCenter {
    align-items:center;
}
.horizontalCenter {
    justify-content:center;
}
.large {
    flex: 100%;
}
.small {
    flex: 50%;
}
.smallRows {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
main, .main {
    flex-grow: 1;
}
.wide {
    flex: 1;
}
.multi {
    margin-top: 20px;
}
.final {
    margin-bottom: 0;
}
.gallery .final {
    margin-bottom: -.75em;
}

.navFrame {
    height: 68px;
    width: calc(100% - 20px);
}
.gallery figure {
    margin-top: 1.5em;
}
.gallery img {
    max-height: 50em;
}
.smallRows figure {
    margin-top: 0;
}

.leftAlign {
    text-align: left;
}
.rightAlign {
    text-align: right;
}

.grid {
    display: grid;
}
.columnGrid {
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.floatLeft {
    float: left;
    margin-right: 10px;
}
.headerNop { /* why did i call it that??? */
    margin-bottom: 20px;
}

.mini {
    max-width: 50%
}


/* Media Queries*/
@media (max-width: 900px) {
    .flex {
        flex-direction: column;
    }
    .grid {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:500px) {
    .vertical-bar {
        display: none;
    }
}
@media (max-width:670px) {
    .navFrame {
        height: 130px;
    }
}
@media (max-width:900px) {
    .smallRows {
        flex-direction: column;
    }
}


/* Combination Styling and Behavior */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
}
iframe {
    border: none;
    display: block;
    padding: 0;
    margin: 10px;
}

.articleListing {
    background-color: var(--backgroundTertiary);
    vertical-align: middle;
    flex: 1;
    padding: 5px;
    margin-top: 10px;
}
.alText, .alThumbnail, .alDates, .alSmallLine {
    display: inline-block;
    vertical-align: middle;
}
.alText, .alThumbnail {
    margin-right: 10px;
}
.alText {
    width: calc(100% - 7rem);
}
.alThumbnail {
    height: 5rem;
    border: 3px outset var(--frameColor);
}
.alTags {
    margin-left: 1rem;
}
.alDates {
    float: right;
    text-align: right;
    padding-top: 4px;
}
.alWrapper, .alWrapper:visited {
    text-decoration: none;
    color: inherit;
}

figure {
    background-color: var(--backgroundTertiary);
    max-width: 100%;
    margin: 0;
}

figcaption {
    text-align: center;
    border-top: 1px solid var(--frameColor);
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.updates {
    margin: 0;
    margin-top: 15px;
    flex-grow:1;
    height: 514px;
}
.frame {
    padding: 0;
    margin: 0;
}

.spoiler img {
    filter: blur(25px) grayscale(80%);
    width: 100% + 25px;
    height: 100% + 25px;
    transition: filter 0.2s ease-out;
}
.spoiler {
    overflow: hidden;
}
.spoiler img:hover {
    filter: blur(0);
}


dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 8px;
    position: relative;
    margin-bottom: 0;
    background-color: var(--backgroundTertiary);
    clear: left;
}
dt {
    text-align: center;
    font-weight: bold;
    padding-right: 16px;
    margin-bottom: 0px;
    position: relative;
    align-content: center;
}
dt::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0px;
    height: calc(100% + 4px);
    width: 1px;
    background: var(--frameColor);
}
dd {
    margin: 0;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    padding-left: 16px;
    align-content: center;
}
.navbar {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Borders */

main, aside, section, article, .navbar, .subsection, .button, .articleListing, figure, dl, footer, details {
    border: 1px solid var(--frameColor);
    border-radius: 0px;
}


/* Basic Styling */

body {
    color: var(--textColor);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-color: var(--scrollbarPrimary) var(--scrollbarSecondary);
    background-color: var(--backgroundBase);
}

iframe, aside, main, article, section, footer, .frame {
    background-color: var(--backgroundSecondary);
}

main, aside, section, article {
    margin: 10px;
    padding: 10px;
    display: inline-block
}

a {
    color: var(--linkColor);
}
a:visited {
    color: var(--linkColorVisited);
}
.fakeLink {
    color: var(--linkColor);
    text-decoration: underline
}

.faintLink {
    color: var(--linkColorFaint);
    text-decoration: none;
}
.faintLink:visited {
    color: var(--linkColorVisitedFaint);
    text-decoration: none;
}

h1 {
    border-bottom: 1px solid var(--frameColor);
    font-size: 3em;
    text-align: center;
}
h2, h3, summary {
    border-bottom: 1px solid var(--frameColor);
    margin-top: 0;
    margin-bottom: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: var(--buttonBorder);
    border-width: 1px;
    border-radius: 8px;
    background-color: var(--buttonColor);
    color: var(--textColorSecondary);
    font-weight: bold;
    flex: 1 0 0;
    text-align: center;
    padding: 3px;
    align-self: stretch;
}
.button:visited {
    color: var(--textColorSecondary);
}
.button:hover {
    background-color: white;
    border-color: var(--buttonColor);
}

.centered {
    margin: 0 auto;
}

.grey {
    color: var(--greyedOutText);
    background-color: var(--greyedOutBackground);
    border-color: var(--greyedOutBorder);
}
.grey:hover {
    background-color: darkgrey;
    border-color: black;
}
.grey:visited {
    color:grey;
}
.subsection {
    background-color: var(--backgroundSecondary);
    padding: 10px;
}
.padded {
    padding: 10px;
}
.italic {
    font-style: italic;
}
details {
    background-color: var(--backgroundTertiary);
    padding: 5px;
}
summary {
    font-weight: bold;
}
details dl {
    background-color: var(--backgroundQuaternary);
}
code {
    background-color: var(--backgroundBase);
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0px 2px 0px 2px;
}

.eleventhHour {
    font-family: "eleventh hour", sans-serif;
    font-size: 24px;
    font-smooth: never;
    -webkit-font-smoothing : none;
}
.eleventhHour a {
    text-decoration: none;
    border-bottom: 4px solid var(--linkColor);
    padding-bottom: 4px;
}
.eleventhHour a:visited {
    text-decoration: none;
    border-bottom: 4px solid var(--linkColorVisited);
    padding-bottom: 4px;
}
.eleventhHourSmall {
    font-family: "eleventh hour", sans-serif;
    font-size: 12px;
    font-smooth: never;
    -webkit-font-smoothing : none;
}
.eleventhHourSmall a {
    text-decoration: none;
    border-bottom: 2px solid var(--linkColor);
    padding-bottom: 2px;
}
.eleventhHourSmall a:visited {
    text-decoration: none;
    border-bottom: 2px solid var(--linkColorVisited);
    padding-bottom: 2px;
}

.blackText {
    --textColor: var(--textColorBlack);
    --linkColor: var(--linkColorBlack);
    --linkColorVisited: var(--linkColorBlackVisited);
}
.evilBlackText {
    --textColor: var(--textColorBlack);
    --linkColor: var(--textColorBlack);
    --linkColorVisited: var(--textColorBlack);
}

/* cool and fun new stuff i'm adding */

.vertical-bar {
    height: 40px;
    width: 1px;
    background-color: var(--frameColor);
    margin: 0 10px;
}

.hint, .hint:visited {
    color: var(--hintColor);
    font-size: 0.75em;
    text-decoration: none;
    font-weight: normal;
}
.hoverable {
    text-decoration: underline dotted;
}

.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline solid;
}

/* pronouns page specific items */
.pronouns {
    background-color: var(--backgroundTertiary);
}
.pronouns-container {
    list-style-type: none;
    padding: 2px;
    display: flex columns;
    justify-content: left;
    margin-bottom: 0;
}
.pronouns-container li {
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 20px;
    padding-left: 30px;
    list-style-type: none;
}
.pronouns-love {
    background-image: url('pronounsPage/love.svg');
    filter: brightness(0.6) sepia(1) hue-rotate(300deg) saturate(9);
}
.pronouns-like {
    background-image: url('pronounsPage/like.svg');
    filter: brightness(0.5) sepia(1) hue-rotate(200deg) saturate(2);
}
.pronouns-neutral {
    background-image: url('pronounsPage/neutral.svg');
    filter: brightness(0.6) sepia(1) hue-rotate(310deg) saturate(0);
}
.pronouns-dislike {
    background-image: url('pronounsPage/dislike.svg');
    filter: brightness(0.5) sepia(1) hue-rotate(310deg) saturate(2);
}
.pronouns-hate {
    background-image: url('pronounsPage/hate.svg');
    filter: brightness(0.6) sepia(1) hue-rotate(310deg) saturate(9);
}
.pronouns-special {
    background-image: url('pronounsPage/special.svg');
    filter: brightness(0.6) sepia(1) hue-rotate(15deg) saturate(8);
}
.pronouns-funny {
    background-image: url('pronounsPage/funny.svg');
    filter: brightness(0.6) sepia(1) hue-rotate(-30deg) saturate(5);
}
.pronouns-friends {
    background-image: url('pronounsPage/friends.svg');
    filter: brightness(0.6) sepia(1) hue-rotate(60deg) saturate(3);
}
.pronouns-informal {
    background-image: url('pronounsPage/informal.svg');
    filter: brightness(0.6) sepia(1) hue-rotate(100deg) saturate(2);
}

/* Universe Color-Coding */
.metalworks {
    --frameColor: var(--sedgeBlue);
}
.hueshift {
    --frameColor: var(--chromaGreen);
    --buttonColor: var(--chromaGreen);
}
.gamemaster {
    --frameColor: var(--gmBlue);
}
.eleventh_hour {
    --frameColor: var(--percyTeal);
}
.sylvolaia {
    --frameColor: var(--errataCyan);
    --buttonColor: var(--errataCyan);
}
.damascus {
    --frameColor: var(--damascusRed);
}
.periscope {
    --frameColor: var(--periscopePurple);
}
.manaweavers {
    --frameColor: var(--twoTeal);
}
.kakogenzaimirai {
    --frameColor: var(--sierraBlue);
}

/* random shit */
.noMargins {
    margin: 0;
}

.wafringWidget {
    border: 4px solid white;
    background: linear-gradient(to bottom, #2abffd, #2a6dfd);
    border-radius: 24px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: fit-content;
}
