@font-face {
    font-family: 'Raleway';
    src: url(Raleway-VariableFont_wght.ttf)
}
body {
	background-color: #0c0c0e;
	color: white;
	font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

iframe, aside, main, section, footer, .frame {
    background-color: #1c1c1e;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    border: 1px solid #b60000;
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
}
iframe {
    border: none;
    display: block;
    padding: 0;
    margin: 10px;
}

main, aside, section {
    margin: 10px;
    border: 1px solid #b60000;
    padding: 10px;
    display: inline-block
}

aside {
    flex: 15%;
}

a {
    color: #74fdff;
}
a:visited {
    color: #979eff;
}

.columns {
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}
.centeredText {
    text-align: center;
}
.flex {
    display: flex;
}
main, .main {
    flex-grow: 1;
}
.multi {
    margin-top: 20px;
}
@media (max-width: 900px) {
    .flex {
        flex-direction: column;
    }
}

h1 {
    border-bottom: 1px solid #b60000;
    font-size: 3em;
    text-align: center;
}
h2 {
    border-bottom: 1px solid #b60000;
    margin-top: 0;
}

.updates {
    margin: 0;
    flex-grow:1;
    height: 210px;
}
.frame {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: solid #b60000 1px;
    padding: 10px;
}
.navFrame {
    height: 68px;
    width: calc(100% - 20px);
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 8px;
    background-color: #cf0000;
    color: black;
    font-weight: bold;
    flex: 1 0 0;
    text-align: center;
    padding: 3px;
    align-self: stretch;
}
.button:visited {
    color: black;
}
.button:hover {
    background-color: white;
}
.vertical-bar {
    height: 40px;
    width: 1px;
    background-color: #b60000;
    margin: 0 10px;
}

dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    border: solid #b60000 1px;
    padding: 8px;
    position: relative;
    margin-bottom: 0;
    background-color: #2c2c2e;
}
dt {
    text-align: center;
    font-weight: bold;
    padding-right: 16px;
    margin-bottom: 4px;
    position: relative;
}
dt::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0px;
    height: calc(100% + 4px);
    width: 1px;
    background: #b60000;
}
dd {
    margin: 0;
    padding-left: 16px;
}
